$contentWidth: 1200px;

$primaryColor: #c9aa19;
$primaryColorLight: #c9aa19;
$primaryColorDark: #ad8f00;

$backgroundLight: white;
$backgroundLightGray: #f5f5f8;


$deleteColor: red;
$deleteColorDark: #ce0303;
$confirmColor: green;
$confirmColorDark: #006b00;

$borderColor: #e5e5e5;
$lightGrey: #b9b9b9;
$grey: rgb(108, 108, 108);


@mixin page($bg: $backgroundLight) {
  height: 93vh;
  overflow: auto;
  background: $bg;
  margin: 0 auto;
  @include backgroundImageLightGrayChains;
}

@mixin flexRowCenter($gap: 0, $ai: center) {
  display: flex;
  justify-content: center;
  align-items: $ai;
  gap: $gap
}

@mixin flexRowSpaceBetween($gap: 0){
  display: flex;
  justify-content: space-between;
  gap: $gap
}

@mixin border($thickness: 1px, $color: $borderColor, $radius: 3px, $line: solid){
  border: $thickness $line $color;
  border-radius: $radius
}

// background-image

@mixin bgImg($url: "@assets/img/authPageBG", $bgp: 70% 20%) {
  background-image: url($url);
  background-position: $bgp;
}

@mixin backgroundImageLightGrayChains() {
  background-image: url("@assets/img/chainsBG")};

@mixin backgroundImageLightGrayBottles() {
  background-image: url("@assets/img/bottlesBG")};

// fonts

$fsXSmall: 10px;
$fsSmall: 14px;
$fsMedium: 16px;
$fsLarge: 18px;
$fsXLarge: 22px;

@mixin mainFont($fs: $fsSmall, $fw: 300, $fst: normal){
  font: $fs Main, sans-serif;
  font-weight: $fw;
  font-style: $fst;
}


//svg

@mixin svg($size: 20px, $fill: $primaryColor){
  fill: $fill;
  height: $size;
  width: $size;
}






