@import "../App/vars";

.page{
  @include page($backgroundLightGray);
  @include flexRowCenter;
  @include bgImg;

  .auth{
    @include flexRowSpaceBetween(5px);
    flex-direction: column;
    background: $backgroundLight;

    margin: 20px 0;
    padding: 30px;
    width: 400px;

    border-radius: 6px;
    box-shadow: inset 0 0 0 1px $borderColor;

    h1{
      padding: 0 0 5px 0;
    }

    .request{
      height: fit-content;
      min-height: 22px;
      color: $deleteColorDark;
    }

    label{
      display: block;
    }

    input{
      height: 35px;
      margin-bottom: 10px;
    }

    .inputNonValidate{
      background-color: #ffc3c3;
    }

    button{
      height: 40px;
      background-color: $primaryColor;
      border: none;
      border-radius: 3px;
      color: $backgroundLight;
      cursor: pointer;

      font-size: $fsLarge;
      font-weight: 400;
    }
    button:hover{
      background-color: $primaryColorDark;
    }
    .validate, .validate:hover{
      background-color: grey;
      cursor: not-allowed;
    }
    .demo{
      border-top: 1px solid $borderColor;
      padding-top: 24px;
      button{
        width: 100%;
        margin-top: 15px;
      }
    }
    .change{
      padding: 10px 0 20px 0;

      span{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

