@import "../App/vars";

.page {
  @include page;
  @include backgroundImageLightGrayBottles;
  @include flexRowCenter($ai:  flex-start);

}
.content{
  width: $contentWidth;
  .drop{
    width: calc(70% - 4px);
    @include flexRowCenter;
    flex-direction: column;

    @include border($thickness: 2px, $radius: 6px, $line: dashed);
    background-color: $backgroundLight;
    cursor: pointer;

    .label{
      @include flexRowCenter;
      @include mainFont($fs: $fsLarge);
      height: 150px;

      .input{
        font-weight: 400;
        padding: 0 4px;

        input{
          display: none;
        }
        color: $primaryColor;
      }
    }

    .files{
      border-top: 1px solid $borderColor;
      width: 94%;
      margin: 0 3% 10px 3%;

      .file:nth-child(2n+1) {
        background-color: $backgroundLightGray;
      }
      .file {
        @include flexRowSpaceBetween;
        height: 20px;
        width: calc(100% - 10px);
        padding: 5px;


        span {
          color: $deleteColor;
        }
        a {
          text-decoration: none;
          span {
            color: black;
          }
        }
      }
    }
    .validateFiles{
      div{
        @include flexRowCenter;
        cursor: pointer;
      }
      div div:hover svg{
        cursor: pointer;
        fill: $deleteColor;
      }
    }

    .duplicateFiles{
      a span{
        color: black;
        &:hover {
          color: $primaryColor;
          text-decoration: underline;
        }
      }
    }

  }
  .dropArea{
    border-color: $primaryColor;
  }

  button{
    @include mainFont($fs: $fsMedium, $fw: 400);
    margin: 30px 0;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    color: $backgroundLight;
    background-color: $grey;
    cursor: not-allowed;
  }
  .active{
    cursor: pointer;
    background: $primaryColor;
    &:hover{
      background: #ad8f00
    }
  }
}
