@import "@/App/vars";

.page{
  @include page;
  display: flex;
  justify-content: center;

  .content{
    position: relative;
    width: $contentWidth;

    .filterBar{
      @include flexRowSpaceBetween;
      //display: flex;
      //flex-direction: column;
      //align-items: flex-end;
      min-height: 30px;
      font-size: $fsMedium;

      .dateFilter, .sportsFilter, .search{
        @include flexRowSpaceBetween;
        @include border($thickness: 2px, $radius: 6px);
        background: $backgroundLight;
        font-weight: 500;

        div{
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 30px;

          border-style: solid;
          border-color: $borderColor;
          border-width: 0 2px 0 0;
          border-radius: 0;

          color: $primaryColor;
          cursor: pointer;

        }

        div:first-child{
          border-radius: 4px 0 0 4px;
        }

        div:last-child{
          border-width: 0 0 0 0;
          border-radius: 0 4px 4px 0;
        }
        .check{
          background: $primaryColor;
          color: $backgroundLight;
        }
      }

      .dateFilter{
        div{
          padding: 0 15px;
        }

        .date{
          @include flexRowCenter($gap: 5px);
          width: fit-content;
          padding-right: 0;

          input{
            margin-top: 2px;
            @include mainFont($fw: 500);
            border: none;
            outline: none;
            color: $primaryColor;
            width: 100px;
            cursor: pointer;
          }
        }

        .date:hover {
          .search{
            background: $primaryColor;
            color: $backgroundLight;
            svg{
              fill: $backgroundLight;
            }
          }
        }
        .check{
          background: $primaryColor;
          color: $backgroundLight;
          input{
            background: $primaryColor;
            color: $backgroundLight;
          }
          .search{
            background: $primaryColor;
            color: $backgroundLight;
            svg{
              fill: $backgroundLight;
            }
          }
        }
      }
      .sportsFilter{

        div{
          width: 70px;
        }
      }

      .search{
        @include flexRowCenter;
        gap: 10px;
        background: $backgroundLight;
        color: $primaryColor;
        cursor: pointer;
        svg{
          @include svg;
        }
      }
      .search:hover {
        background: $primaryColor !important;
        color: $borderColor !important;
        svg{
          fill: $borderColor !important;
        }
      }
    }

//

    .listChartsTable{
      @include border($radius: 6px, $thickness: 2px);
      @include flexRowSpaceBetween;

      background: $backgroundLight;
      margin: 30px 0 0 0;
      padding: 20px;

      .indicators{
        ul{
          margin: 0;
          padding: 0;
          list-style: none;
          li{
            width: max-content;
            padding-bottom: 10px;
          }
          li:hover{
            color: $primaryColor;
            cursor: pointer;
          }
          .selected{
            color: $primaryColorDark;
            text-decoration: underline solid 1px;
          }
        }

      }


      div h3{
        @include flexRowSpaceBetween;

        padding: 0 0 10px 10px;
        margin: 0;

        font-size: $fsLarge;
        font-weight: 300;

        .addSeries{
          display: flex;
          position: relative;

          font-size: $fsSmall;
          cursor: pointer;
          .list{
            position: absolute;
            top: 20px;
            right: 0;
            z-index: 5;

            ul{
              @include border($thickness: 2px, $radius: 4px);
              padding: 20px;
              background-color: rgba(255, 255, 255, 0.8);
              display: grid;
              gap: 10px;
              li{
                min-width: max-content;
                text-align: left;
                list-style: none;
                color: $lightGrey;
              }
              li:hover{
                color: black;
              }
            } .selected{
                color: $primaryColor;
                text-decoration: underline;
              }
            .selected:hover{
              color: $deleteColor;
            }
          }
        }
        .addSeries:hover{
          svg{
            path{
              fill: $primaryColor;
            }
          }
        }
        .svgRed{
          svg{
            path{
              fill: $deleteColor !important;
            }
          }
        }
      }

    }

    .notFound{
      @include flexRowCenter;
      flex-direction: column;
      padding-top: 100px;
      svg{
        @include svg($size: 150px, $fill: $lightGrey)
      }

      h3{
        @include mainFont($fs: $fsLarge ,$fst: italic);
        letter-spacing: 1.5px;
      }
    }
  }

}

